apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: exam-platform
spec:
  template:
    spec:
      containers:
      - name: backend
        env:
        - name: ENV
          value: "staging"
        - name: LOG_LEVEL
          value: "DEBUG"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: exam-platform
spec:
  template:
    spec:
      containers:
      - name: frontend
        env:
        - name: NEXT_PUBLIC_ENV
          value: "staging"
